/* Global Styles */
body {
  font-family: Georgia, "Times New Roman", Times, serif;
  line-height: 1.6;
  color: #333;
  background-image: url(https://images.pexels.com/photos/19670/pexels-photo.jpg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
  background-size: cover;
}

header {
  background-color: #8ab2cd;
  color: #fff;
  padding: 1rem 2rem;
  text-align: center;
  font-size: 18px;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  display: inline;
  margin-right: 1rem;
  line-height: 1.5;
  font-size: 20px;
  padding: 30px
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

nav ul li a:hover {
  text-decoration: underline;
}

main {
  padding: 2rem;
  max-width: 1200px;
  margin: 0 auto;
}

h1,
h2,
h3 {
  color: #342984;
  text-align: center;
}

.image1 {
  display: block;
  margin: 0 auto;
}

section {
  text-align: center;
  margin-bottom: 2rem;
}

button {
  background-color: #342984;
  color: #fff;
  border: none;
  padding: 0.75rem 1.5rem;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
  transition: background-color 0.3s ease;
  display: block;
  margin: 0 auto;
}

button:hover {
  background-color: #270a38;
}

/* Form Styling */
form {
  background: #eceff3;
  width: 60%;
  max-width: 600px; 
  padding: 2rem;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column; 
  align-items: center; 
  margin: 0 auto;
}

form label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
  text-align: center;
}


input {
  width: 100%; 
  max-width: 400px; 
  padding: 0.75rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 1rem;
  box-sizing: border-box; 
}

@media (max-width: 768px) {
  nav ul li {
    display: block;
    margin-bottom: 0.5rem;
  }

  nav ul li a {
    display: block;
    padding: 0.5rem;
    text-align: center;
  }

  main {
    padding: 1rem;
  }

  button {
    padding: 0.5rem 1rem;
  }

  form {
    width: 90%; 
  }
}

.alert {
  padding: 1rem;
  border-radius: 5px;
  margin-bottom: 1rem;}

p {
  text-align: center;
}

